{% include 'navbar.html' %}        
    <form action="/upload" method="POST" enctype="multipart/form-data">
    
    <div class="flex w-full h-screen flex-col items-center justify-center">
        <div id="block-content" style="visibility: hidden;" class="w-full bg-gray-200 h-1 fixed top-20">
            <div class="bg-orange-400 h-1 progress" style="width: 2%; transition: .3s ease-in-out;"></div>
        </div> 
        <div class="w-6/12 mb-4 mt-4 text-gray-900 bg-white border border-gray-200 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white">                
            <input name="first_name" id="first_name" type="text" class="form-input px-4 py-3 rounded-sm" placeholder="Name"/>
            <input name="sir_name" id="sir_name" type="text" class="form-input px-4 py-3 rounded-sm" placeholder="Sir Name"/>
        </div>       
        {% include 'error.html' %}    
        <label class="w-6/12 flex flex-col items-center px-4 py-6 bg-white text-blue rounded-lg shadow-lg tracking-wide uppercase border border-blue cursor-pointer hover:bg-blue hover:text-orange-900">
            <svg class="w-8 h-8 mt-14" fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                <path d="M16.88 9.1A4 4 0 0 1 16 17H5a5 5 0 0 1-1-9.9V7a3 3 0 0 1 4.52-2.59A4.98 4.98 0 0 1 17 8c0 .38-.04.74-.12 1.1zM11 11h3l-4-4-4 4h3v3h2v-3z" />
            </svg>
            <span class="mt-2 text-base leading-normal m-14 text-orange-400" id="file_name">Select an Image (.jpg, .png, .jpeg) to verify the person</span>
            <input name="original" id="audioupload" type="file" class="hidden" />            
        </label>
        <button type="submit" id="submit" class="bg-transparent m-14 w-6/12 hover:bg-orange-500 text-orange-700 font-semibold hover:text-white py-2 px-4 border border-orange-500 hover:border-transparent rounded">
        Verify
    </button>
    </div>     
    </form>
{% include 'footer.html' %}     